name: CI/CD Professional Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Nginx Folder
        run: |
          # Perintah ini sekarang tidak akan minta password karena visudo tadi
          sudo rm -rf /var/www/web-uas/*
          sudo cp -R . /var/www/web-uas/
          sudo chmod -R 755 /var/www/web-uas
          sudo systemctl reload nginx
