name: CI/CD Professional Deploy

on:
  push:
    branches:
      - main  # Ganti ke master jika branch kamu namanya master

jobs:
  deploy:
    runs-on: self-hosted  # Menggunakan runner yang sudah kamu instal di VM
    steps:
      - name: Ambil Kode Terbaru
        uses: actions/checkout@v4

      - name: Sinkronisasi ke Folder Web
        run: |
          # 1. Pastikan folder tujuan ada dan dimiliki user VMIP
          sudo mkdir -p /var/www/web-uas
          sudo chown -R VMIP:VMIP /var/www/web-uas
          
          # 2. Salin file dari workspace runner ke folder Nginx
          cp -R . /var/www/web-uas/
          
          # 3. Reload Nginx agar perubahan langsung muncul
          sudo systemctl reload nginx
