name: CI/CD Auto Deploy
on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Copy Files to Web Server
        run: |
          # Menghapus file lama dan menyalin yang baru
          rm -rf /var/www/html/*
          cp -R . /var/www/html/
