name: CI/CD Auto Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted 
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Web Server Folder
        run: |
          # 1. Masuk ke folder hasil download runner
          cd /home/VMIP/actions-runner/_work/UAS-DEVOPS-AcilTechSolutions/UAS-DEVOPS-AcilTechSolutions
          
          # 2. Hapus file lama di folder web (opsional agar bersih)
          rm -rf /var/www/html/*
          
          # 3. Copy semua file project ke folder Nginx
          cp -R . /var/www/html/
