name: CI/CD Final Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Update Web
        run: |
          # Perintah-perintah ini sekarang aman karena NOPASSWD: ALL
          sudo rm -rf /var/www/web-uas/*
          sudo cp -R . /var/www/web-uas/
          sudo systemctl reload nginx
