name: CI/CD Professional Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Nginx Folder
        run: |
          # 1. Hapus isi folder web agar tidak numpuk dengan file lama
          sudo rm -rf /var/www/web-uas/*
          
          # 2. Copy semua file dari repo (lokasi saat ini) ke folder web
          sudo cp -R . /var/www/web-uas/
          
          # 3. Reload Nginx
          sudo systemctl reload nginx
